
.section-header {
    text-transform: uppercase;
}

.section-container {
    text-align: left;
    padding: 20px;
    margin-bottom: 15px;
    line-height: 22px;
    font-size: 15px;
    word-break: break-word;
}

