 body{
   background-color:#EAE7DC;
 }
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #F8E9A1;
  width: 100%;
  text-align: center;
}

.footer-menu {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(255, 251, 251, 0.1) inset;
  width: 100%;
  height: auto;
  padding: 0px;
  margin: 0;
  list-style-type: none;
  overflow: auto;
  position: relative;
  background-color: #F8E9A1;
  /* border-radius: 20px 20px 0 0; */
  display: flex;

 
  /* Shadows */
  /* Shadow covers */

  background-color: white;
  background-attachment: local, local, scroll, scroll;
}

.footer-menu li {
  flex: 1;
  min-width: 80px;
}

.footer-menu .footer-menu-link {
  display: inline-block;
  width: 100%;
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
  color: #555555;
}

.footer-menu .footer-menu-icon {
  font-size: 24px;
  margin-bottom: 10px;
  color: #0085C4;
}

.footer-menu .footer-menu-text {
  font-size: 12px;
}
